@font-face {
    font-family: "cormorant";
    src: url(./assets/imgs/CormorantUnicase-Medium.ttf);
}

:root {
    --noirtrans: rgba(0, 0, 0, 0.716);
    --dore: rgb(169, 135, 62); 
    --navy: rgba(20, 25, 35);
    --ivory: rgb(225, 209, 179); 
    --gold: rgb(237, 198, 23);
}

body {
    background: url(./assets/imgs/bg4.jpg) center/cover;
    background-size: auto;
    font-family: "cormorant";
    color: var(--ivory);
    text-align: justify;
    line-height: 120%;
    padding-left: 4%;
    padding-right: 4%;
   
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    color: var(--dore);
}

h3 {
    text-align: center;
    margin-top: 15px;
}

p {
    padding: 5px;
    margin: 5px;
}

.boxstyle {
    background: var(--noirtrans);
    margin: 10px;
    padding: 10px;
}

.highlight {
    color: var(--dore);
    font-weight: bold;
}

.highlight2 {
    color: var(--dore);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight3 {
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    color: var(--dore);
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

.reglesdisciplines {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

ul {
    padding: 0;
    margin: 0px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;}

.sectes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "i1 i2" 
    "i3 i4";
}

#camarilla {
    grid-area: i1;
    display: grid;
    grid-template-columns: 15% 85%;
}

#anarchs {
    grid-area: i2;
    display: grid;
    grid-template-columns: 15% 85%;
}

#sabbat {
    grid-area: i3;
    display: grid;
    grid-template-columns: 15% 85%;
}

#independants {
    grid-area: i4;
    display: grid;
    grid-template-columns: 15% 85%;
}

.sectes img {
    height: 100px;
    background: var(--dore);
    box-shadow: 0 0 0 var(--dore);
    margin: auto;
    padding: 5px;
    border-radius: 30px;

}

.sectes p {
    margin: auto;
}



.clanstyle {
    display: grid;
    grid-template-columns: 15% 80%;
    margin-top: 15px;
    background: rgba(169, 135, 62, 0.551);
    padding: 5px;
    position: relative;
}

.clanstyle p {
margin-left: 10px;    
padding: 0;
}

.clanpics img {
max-width: 100%;   
min-width: 50px;
min-height: 50px; 
max-height: 150px;
margin: auto;

}

.clanpics {
    margin: auto;
}

.txtclan img {
    margin: auto;
    display: flex;
}

.logofaction {
    position: absolute;
    transform: translate(0, -50%);
    right: 10px;
    top:50%;
}

.logofaction img {
    height: 60px;
}

/*responsive*/ 

@media screen and (max-width:1100px) {
    .sectes {
        display: block;
    }
    .reglesdisciplines {
        display: block;
    }
}

@media screen and (max-width:900px) {
    h1 {
        line-height: 50px;
    }
}

@media screen and (max-width: 650px) {
    body {
        padding-left: 2%;
        padding-right: 3%;
    }
    h1 {
        font-size: 10vw;
    }
    #camarilla, #anarchs, #sabbat, #independants {
        display: block;
    }
    #camarilla img, #anarchs img, #sabbat img, #independants img {
        display: flex;
        align-items: center;
        max-height: 80px;
    }

    #ventrue, #toreadors, #tremere, #nosferatu, #banuhakim, #brujah, #gangrel, #malkav, #lasombra, #tzimisc, #ravnos, #salub, #hecata {
        display: flex;
        flex-direction: column;
    } 
    .logofaction {
        top: 20px;
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 350px) {
    h1 {
        line-height: normal;
    }
    .clanpics img {
        max-height: 90px;
    }
    .logofaction img {
        max-height: 50px;
    }
}